* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
:root {
  /* Greens */
  --color-green: hsl(160deg, 100%, 30%);
  /* Golds */
  --color-gold-40: hsl(45deg, 100%, 40%);
  --color-gold-50: hsl(45deg, 100%, 50%);
  /* Grays */
  --color-black: hsl(0deg, 0%, 0%);
  --color-gray-10: hsl(0deg, 0%, 10%);
  --color-gray-30: hsl(0deg, 0%, 30%);
  --color-gray-40: hsl(0deg, 0%, 40%);
  --color-gray-60: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
  /* Primary/Secondary */
  --color-primary: var(--color-green);
  --color-secondary-light: var(--color-gold-50);
  --color-secondary-dark: var(--color-gold-40);
  /* Spacing */
  --s-8: 8px;
  --s-16: 16px;
  --s-24: 24px;
  --s-32: 32px;
  --s-48: 48px;
  --s-64: 64px;
  --s-96: 96px;
  --s-128: 128px;
  /* Font sizes */
  --font-size-default: 18px;
  --font-size-normal: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  /* Widths */
  --intro-max-width: 440px;
  --wrapper-width: 720px;
}

/* Resets */
h1,
h2 {
  margin: 0;
}

.max-width-wrapper {
  max-width: var(--wrapper-width);
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: var(--s-8) solid var(--color-gray-40);
}

main {
  background-color: var(--color-gray-60);
  padding: var(--s-96) 0;
}

.title {
  font-size: var(--font-size-xxl);
  margin-bottom: var(--s-64);
}

.intro-chunk {
  font-size: var(--font-size-xl);
  max-width: var(--intro-max-width);
  padding: var(--s-128) var(--s-32) var(--s-32);
}

.intro-chunk strong {
  color: var(--color-primary);
}

.card {
  font-size: var(--font-size-l);
  background-color: var(--color-white);
  padding: var(--s-32);
  border-bottom: var(--s-8) solid var(--color-gray-40);
}

.card p:last-child {
  margin-bottom: 0;
}

.indented-heading {
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--font-size-xl);
  background-color: var(--color-secondary-light);
  border-bottom: var(--s-8) solid var(--color-secondary-dark);
  padding: var(--s-24) var(--s-48);
  margin-top: calc(var(--s-16) * -1);
  margin-bottom: var(--s-16);
  margin-left: calc(var(--s-48) * -1);
}
